---

---
@charset "utf-8";

@import
    "monokai.css"
;

$accent-color: #2698ba;
$accent-color-2: #fb660a;
$text-color: #ffffff;
$background-color: #1b1b1b;

html {
    padding: 40px;
}

body {
    font-family: "Open Sans", sans-serif;
    color: $text-color;
    background-color: $background-color;

    max-width: 800px;
    margin: auto;

    a {
        color: $accent-color;
    }

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.contact-icons {
    font-size: 3em;
    text-align: center;

    a:link {
        color: $text-color;
    }

    a:visited {
        color: $text-color;
    }

    a:hover {
        color: $accent-color;
    }
}

.highlight {
    overflow-x: scroll;
}

pre.highlight {
    padding: 10px;
}

header {
    text-align: right;
}

footer {
    text-align: right;
}

code {
    color: $accent-color-2;
}

svg.icon:hover path {
    fill: $accent-color;
}

img {
    padding: 10px;
}