<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{% include head.html %}

<body>
    <header>
        <a class="site-title" href="">{{ site.title }}</a>
        <div style="display: inline-block">
            {% for my_page in site.pages %}{% if my_page.title and my_page.noindex != true %} | <a
                href="{{ my_page.url }}">{{ my_page.title }}</a>{% endif %}{%
            endfor %}
        </div>
    </header>
    <hr>
    <div class="post-header">
        <h1>{{ page.title | escape }}</h1>
    </div>
    <main>
        <div class="content-wrapper">{{ content }}</div>
    </main>
    <hr>
    <footer>
        {% capture footer-md %}{% include footer.html %}{% endcapture %}{{ footer-md | markdownify }}
    </footer>
</body>

</html>