<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{% include head.html %}

<body>
    <header>
        <a href="">{{ site.title }}</a>
        <div>
            {% for my_page in site.pages %}
            {% if my_page.title and my_page.noindex != true %}
            <a href="{{ my_page.url }}">{{ my_page.title }}</a>&ensp;
            {% endif %}
            {% endfor %}
        </div>
    </header>
    <hr>
    <div>
        <h1>{{ page.title | escape }}</h1>
    </div>
    <main>
        {{ content }}
    </main>
    <hr>
    <footer>
        {% capture footer-md %}{% include footer.html %}{% endcapture %}{{ footer-md | markdownify }}
    </footer>
</body>

</html>